@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


/* width */
::-webkit-scrollbar {
  width: 0.7rem;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(200, 18%, 26%);
  border-radius: 100vw;
  margin-block: 0.25em; 
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:linear-gradient(red,orange);
  border-radius: 100vw;
  border: 0.1em solid rgb(255, 248, 248);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:hsl(232, 50%, 45%);
  
}

/* ---------------------this header-------------------------- */ 
body{
  background-color: black;
} 
header{
  background: url(../Img/port-bg-1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}


nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;

}
.container{
  padding: 15px 0px;
}
.logo{
  width:80px;
  height: 70px;
  opacity: 0.6;
  margin-left: -60px;
  
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
  cursor: pointer;
  
}
nav ul li a{
  text-decoration: none;
  color: rgb(157, 156, 156);
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background:linear-gradient(55deg, #F5B041 65%,  rgb(255, 255, 255) 35%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
a:hover{
  color: #fff;
}
nav ul li a:hover::after{
  width: 100%;
  
}

.greeting{
  opacity: 0.7;
}
.greeting span {
  width: max-content;
  position: absolute;
  background-color: darkgoldenrod;
  border-radius: 3px;
  box-shadow: 1px 1px 6px grey;
  color: white;
  padding-inline: 10px;
  opacity: 0;
  top: 30px;
  left: 300px;
  
  transform-origin: 10% 75%;
  animation: rotateWords 10s var(--d) linear infinite;
  
}
@keyframes rotateWords {
  5% {
      opacity: 1;
  }

  10%,
  20% {
      opacity: 1;
      transform: rotateY(3deg);
  }

  15% {
      transform: rotateY(-1deg);

  }

  25% {
      opacity: 0;
      transform: translateX(90px) rotate(10deg);

    } 
  } 


/* -----------------------name-text------------------------ */

.header-text{
  margin-top: 20%;
  font-size: 30px;
  color: rgb(226, 220, 220);
}
.header-text p {
  font-family: 'Inconsolata', monospace;
  font-size: 1.8rem;
}
.header-text h1{
  font-size: 2.5rem;
  margin-top: 30px;
  width: 80%;
  font-family: 'Baloo Bhaina 2';
  
}
.header-text h1 span{
  color: rgb(190, 22, 22);
}
.text-image{
  display: grid;
  grid-template-columns: 6fr 6fr;
 
}

/*------------------ about---------------------- */
section{
  color: white;
}
section h4{
  padding-top: 75px;
  font-size: 40px;
}
.about{
  color: white;
}
.intro-line{
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.dp img{
  width: 40%;
  height: 70%;
  margin-left: 35%;
  margin-top: 10%;
  border-radius: 4px;
  filter: grayscale(100);
  opacity: 0.8;
}
.dp img:hover{
  filter: grayscale(0);
}
.intro {
  padding-left: 15%;
  padding-top: 15%;
  padding-right: 10%;
  padding-bottom: 10%;
  font-family: 'Josefin Sans', sans-serif;
  word-spacing: 5px;
}

/* ----------------------skills--------------------- */

.skills{
  display: grid;
  grid-template-columns: 6fr 6fr;
  padding: 0px;
}
.tab-titles{
  display: flex;
  margin: 20px 250px 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
.tab-links.active-link::after{
  width: 60%;
  
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
.tab-contents ul{
  list-style: none;
}

.tab-contents .skills-bar{
  padding-left: 250px;
  padding-top: 0px;
}
.tab-contents li{
  padding-left: 200px;
}
.tab-contents ul li span{
  color: #D68910 ;
  font-weight: bold;
}
.skills-bar .bar{
  margin: 25px 0;
}
.Skill li{
  color: lightyellow;
  word-spacing: 3px;
  text-shadow: 3px 3px 5px red;
}
.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: left;
  animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background:linear-gradient(45deg, orange,  white 75%, rgb(9, 107, 48) 100%);
  height: 100%;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: left;
  animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css , .mongodb{
  width: 70%;
}
.progress-line .bootstrap {
  width: 70%;
}
.progress-line .javascript {
  width: 50%;
}
.progress-line .jq {
  width: 50%;
  
}
.progress-line .node , .express {
  width: 50%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after , .mongodb::after{
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "70%";
}
.progress-line .javascript::after {
  content: "50%";
}
.progress-line .jq::after {
  content: "50%";
}
.progress-line .node::after , .express::after {
  content: "50%";
  
} 

/* -------------------------Service----------------------- */

#Service{
  padding: 50px 0;
}
.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:30px;
  margin-top: 30px;
  margin-left: 150px;
}
.card:hover{
  transform: scale(1.1);
  transition: 2s;
}
.card{
  width: 280px;
  height: 280px;
  flex: 0 0 100%;
  
  transition: 2s;
}
.card-text p {
  font-size: 17px;
  word-spacing: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.skills-heading h4 {
  margin-bottom: 2rem;
  text-shadow: 2px 2px  6px rgb(174, 70, 70);
}

 .card:nth-child(1) {
  background: linear-gradient(-229deg, #d1ba0e, #e2e2e2);
  box-shadow: 0px 0px 6px white;
  
  
}

.card:nth-child(2) {
  background: linear-gradient(-229deg, #a48b11, #2c8d82);
  box-shadow: 0px 0px 6px white;
}

.card:nth-child(3) {
  background: linear-gradient(-229deg, #e3c00f, #840808);
  box-shadow: 0px 0px 6px white;
} 


/* -----------------------------------work---------------------- */
.Work-Section{
  padding: 40px 0px 0px 200px; 
}
.Work-Section .container{
  padding-right:90px ;
  
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  grid-gap:15px;
  margin-top: 10px;
 
  
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  
 
}

.work img{
  width: 70%;
  height: 14rem;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
 opacity: 0.6;
  
}
.layer{
  width: 74%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.5),#d2710a);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}
.layer h3{
  font-weight: 400;
  margin-bottom: 10px;
}
.layer a{
  margin-top: 10px;
  color: green;
  text-decoration: none;
  line-height: 35px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;

} 
.work:hover img{
  transform: scale(1.1);
  opacity: 13;
  
}
.work:hover .layer{
  height: 100%;
  transition-delay: 300ms;
}
.btn-link{
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  width: fit-content;
  border: 1px solid white;
  padding: 10px 30px;
  margin-left: 450px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: backrgound 0.5s;

}
.btn-link:hover{
  background: hsl(24, 71%, 53%);
  color: white;
}

/* --------------Contact------------- */

.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-bottom: 25px;
}

.social-icons a{
  text-decoration: none;
  color: #686969;
  display: inline-block;
  transition: transform 0.7s;
}

.social-icons a:hover{
  color: orange;
  transform: translateY(-7px);
}
.contact-left a:nth-child(1):hover{
color:#4267B2;
transform: translateY(-7px);
}
.contact-left a:nth-child(2):hover{
  color:#1DA1F2;
  transform: translateY(7px);
  }
  .contact-left a:nth-child(3):hover{
    color:rgb(251, 57, 88);
    transform: translateY(-7px);
    
    }
    .contact-left a:nth-child(4):hover{
      color: #0A66C2;
      transform: translateY(7px);
    }
    .contact-left a:nth-child(5):hover{
      color: #075e54;
      transform: translateY(-8px);
    }
  

.contact-right form{
  width: 100%;

}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background-color: grey;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
::placeholder{
  color: white;
}
form button{
  float: right;
}


/* ---------------------------footer---------------------------- */
footer{
  background-color: #1d293a;
  margin-top: 30px;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
}
footer ul{
  text-decoration: none;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  margin-top: 35px;
}

footer li{
  background-color: #111a28;
  width: 100px;
  margin-right: 10px;
  height: 40px;
  
}
footer li p{
  border-radius: 3px;
  margin: 0;
  color: white;

}
footer a{
  text-decoration: none;
  cursor: pointer;
  
}
footer .progress{
  left: 0;
  background-color: orange;
  height: 3px;
  width: 100%;
  bottom: 0;
  border-radius: 4px;
}

.copy p{
  color: white;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}
.copy span{
  font-size: 18px;
}
nav svg{
  display: none;
}
.scroll svg{
  display: none;
}

/* ---------css for small screen---------------- */
@media screen and (max-width: 600px){
  
  header{
    background: url(../Img/Bg.jpg);
    background-size: cover;
    width:100%;
    height: 100vh;
     
  }
  nav ul li{
    display: none;
  }
  .greeting{
    display: none;
  }
  
  .logo{
    margin-left: 2px;
    width: 85px;
    height: 15vh;
    margin-top: -10px;
  }
  
  .header-text{
    margin-top: 30%;
    line-height: 33px;
    width: 400px;
    height: 50vh;
    letter-spacing: 0;
    word-spacing: 12px;
    font-size: 20px;
    margin-left: 19px;
  }
  .header-text h1{
    font-size: 22px;
    width: 240px;
   line-height: 30px;
 
  }
  section h4{
    font-size: 20px;
    color: rgb(224, 224, 224);
    margin-right: 50px;
  }
  .dp img{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 4px;
    filter: grayscale(100);
    opacity: 0.8;
  }
  .dp img:hover{
    filter: grayscale(0);
  }
  .intro-line{
    display: block;
    text-align: justify;
    margin-top: 10px;
   
  }
  .intro{
    font-size: 18px;
    padding-left:10%;
    padding-right:10%;
    word-spacing: 0px;
    
  }
  .tab-titles{
    display: block;
    width: 160px;
    font-size: 16px;
    margin-left: 15%;
    font-weight: lighter;
  }
  
  .tab-contents .skills-bar{
    padding-left: 10%;
    
  }
  .tab-contents li{
    padding-left: 0px;
    font-size: 16px;
    text-align: justify;
  }
  .tab-contents ul li span{
    font-size: 18px;
    font-weight: 400;
  }
  .skills-bar .bar{
    padding: 10px 0%;
   
  }
  .skills-bar .bar .progress-line{
    width: 270px;
  }
  .skills-bar .bar .info span{
    font-size: 16px;
    
  }
  .service-list{
    margin-left: 13px;
    margin-top: 20px;
  }
  #Service{
    padding: 10px 10%;
  }
  .Work-Section{
    padding: 10px 20%;
  }
  .btn-link{
    margin-left: 35%;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    text-align: center;
  }
  .contact-left .text-left{
    margin-top: -60px;
    margin-left: 18%;
    font-size: 22px;

  }
  .contact-left p{
    margin-left: 15%;
    line-height: 35px;
  }
 
  #contact .container{
    margin-left: 15%;
  }
  .contact-left svg{
    font-size: 16px;
     }
  .contact-left p{
    font-size: 16px;
    padding-left: 15px;
  }
  .social-icons{
    font-size: 2px;
    margin-left: 10px;
  }
  .contact-right .form-group{
    flex-basis: 100%;
    width: 100%;
    padding-left: 30px;
  }
  .contact-right .btn{
    width: 90px;
    padding: 5px;
    font-size: 16px;
  }
  
  .scroll svg{
    display: block;
    color: white;
    position: sticky;
    bottom: 150px;
    left: 170px;
    padding-bottom:15px;
  }
  .scroll a svg:hover{
      color: red;
      
  }

  footer ul {
    display: none;
  }
  footer{
   background-color: #07374a;
   height: 10vh;
  }
  footer .copy{
    margin-left: 5%;
    font-size: 16px;
  }
 footer #back-top svg{
  font-size: 18px;
  color:white ;
  background-color: rgb(174, 70, 70);
 }
 footer svg:hover{
  color: red;
  background-color: black;
 }
   
}

